{% load static %}
<!DOCTYPE html>
<html>

<head dir = "rtl">
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- Title  -->
    <title>صفحه اصلی</title>

    <!-- Favicon  -->
    <link rel="icon" href="{% static 'img/core-img/favicon.ico' %}">

    <!-- Core Style CSS -->
    <link rel="stylesheet" href="{%  static 'css/core-style.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

</head>

<body>
    <!-- ##### Header Area Start ##### -->
    <header class="header_area" dir = "rtl">
        <div class="classy-nav-container breakpoint-off d-flex align-items-center justify-content-between">
            <!-- Classy Menu -->
            <nav class="classy-navbar" id="essenceNav">
                <!-- Navbar Toggler -->
                <div class="classy-navbar-toggler">
                    <span class="navbarToggler"><span></span><span></span><span></span></span>
                </div>
                <!-- Menu -->
                <div class="classy-menu">
                    <!-- close btn -->
                    <div class="classycloseIcon">
                        <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                    </div>
                    <!-- Nav Start -->
                    <div class="classynav">
                        <ul>
                        	<li><a href="index.html">خانه</a></li>
                            <li><a href="showStuffByTime.html">مشاهده کالا ها</a>
                            </li>
                            <li><a href="#">درباره ما</a>
                            </li>
                        </ul>
                    </div>
                    <!-- Nav End -->
                </div>
            </nav>

            <!-- Header Meta Data -->
            <div class="header-meta d-flex clearfix justify-content-end">
                <!-- Search Area -->
                <div class="search-area">
                    <form action="#" method="post">
                        <input type="search" name="search" id="headerSearch" placeholder="جست و جو">
                        <button type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
                    </form>
                </div>
                
                <!-- User Login Info -->
                <div class="user-login-info">
                    <a href="#"><img src="{% static './img/core-img/user.svg' %}" alt=""></a>
                </div>
                
            </div>

        </div>
    </header>
    <!-- ##### Header Area End ##### -->

   
   

    <!-- ##### CTA Area Start ##### -->
    <div class="cta-area">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="cta-content bg-img background-overlay" style="background-image: url(../static/img/bg-img/bg-5.jpg);">
                        <div class="h-100 d-flex align-items-center justify-content-end">
                            <div class="cta--text">
                                
                                <a href="{% url 'showStuff' %}" class="btn essence-btn">مشاهده کالا ها</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ##### CTA Area End ##### -->



   

    <!-- ##### Footer Area Start ##### -->
    <footer class="footer_area clearfix">
        <div class="container">
            
                

            <div class="row align-items-end">
                <!-- Single Widget Area -->
                <div class="col-12 col-md-6">
                    <div class="single_widget_area">
                        <div class="footer_heading mb-30">
                            <h6>ورود</h6>
                        </div>
                        <div class="subscribtion_form">
                            <form action="#" method="post">
                                {% csrf_token %}
                                <input type="email" name="mail" class="mail" placeholder="ایمیل">
                                <input type="password" name="password" class="password" placeholder="رمز عبور">
                                <button name="submit"  type="submit" value="login" href="#" data-toggle="tooltip" title="ثبت"><i class="fa fa-long-arrow-right" aria-hidden="true" style="font-size:24px"></i></button>
{#                                <button type="submit" value="login" href="#" data-toggle="tooltip" title="ثبت"><i class="fa fa-long-arrow-right" aria-hidden="true" style="font-size:24px"></i></button>#}
                           </form>
                        </div>
                    </div>
                </div>
                
                <!-- Single Widget Area -->
                <div class="col-12 col-md-6">
                    <div class="single_widget_area">
                        <div class="footer_heading mb-30">
                            <h6>ثبت نام</h6>
                        </div>
                        <div class="subscribtion_form">
                            <form action="#" method="post">
                                {% csrf_token %}
                                <input type="email" name="mail" class="mail" placeholder="ایمیل">
                                <input type="password" name="password" class="password" placeholder="رمز عبور">
                                <input type="phonenumber" name="phonenumber" class="phonenumber" placeholder="شماره تماس">
                                <button name="submit" type="submit" value="register" href="#" data-toggle="tooltip" title="ثبت"><i class="fa fa-long-arrow-right" aria-hidden="true" style="font-size:24px"></i></button>
                    </form>
                        </div>
                    </div>
                </div>
                
            </div>



        </div>
    </footer>
    <!-- ##### Footer Area End ##### -->

    <!-- jQuery (Necessary for All JavaScript Plugins) -->
    <script src="{% static 'js/jquery/jquery-2.2.4.min.js' %}"></script>
    <!-- Popper js -->
    <script src="{% static 'js/popper.min.js' %}"></script>
    <!-- Bootstrap js -->
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <!-- Plugins js -->
    <script src="{% static 'js/plugins.js' %}"></script>
    <!-- Classy Nav js -->
    <script src="{% static 'js/classy-nav.min.js' %}"></script>
    <!-- Active js -->
    <script src="{% static 'js/active.js' %}"></script>

</body>

</html>