<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- Title  -->
    <title>ثبت کالا</title>

    <!-- Favicon  -->
    <link rel="icon" href="img/core-img/favicon.ico">

    <!-- Core Style CSS -->
    <link rel="stylesheet" href="css/core-style.css">
    <link rel="stylesheet" href="style.css">

</head>

<body>
    <!-- ##### Header Area Start ##### -->
    <header class="header_area" dir = "rtl">
        <div class="classy-nav-container breakpoint-off d-flex align-items-center justify-content-between">
            <!-- Classy Menu -->
            <nav class="classy-navbar" id="essenceNav">
                <!-- Navbar Toggler -->
                <div class="classy-navbar-toggler">
                    <span class="navbarToggler"><span></span><span></span><span></span></span>
                </div>
                <!-- Menu -->
                <div class="classy-menu">
                    <!-- close btn -->
                    <div class="classycloseIcon">
                        <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                    </div>
                    <!-- Nav Start -->
                    <div class="classynav">
                        <ul>
                        	<li><a href="index.html">خانه</a></li>
                        	<li><a href="user's-items.html">امکانات کاربر</a>
                     
 								<ul class="dropdown">
                                    <li><a href="user's-items.html">آگهی های کاربر</a></li>
                                    <li><a href="user's-favourite-items.html">آگهی های مورد علاقه</a></li>
                                    <li><a href="submit-new-item-1.html">ثبت آگهی</a></li>
                                </ul>
 
                        	</li>
                        	
                            <li><a href="shop.html">مشاهده آگهی ها</a>
                                <!-- 
<div class="megamenu">
                                    <ul class="single-mega cn-col-4">
                                        <li class="title">Women's Collection</li>
                                        <li><a href="shop.html">Dresses</a></li>
                                        <li><a href="shop.html">Blouses &amp; Shirts</a></li>
                                        <li><a href="shop.html">T-shirts</a></li>
                                        <li><a href="shop.html">Rompers</a></li>
                                        <li><a href="shop.html">Bras &amp; Panties</a></li>
                                    </ul>
                                    <ul class="single-mega cn-col-4">
                                        <li class="title">Men's Collection</li>
                                        <li><a href="shop.html">T-Shirts</a></li>
                                        <li><a href="shop.html">Polo</a></li>
                                        <li><a href="shop.html">Shirts</a></li>
                                        <li><a href="shop.html">Jackets</a></li>
                                        <li><a href="shop.html">Trench</a></li>
                                    </ul>
                                    <ul class="single-mega cn-col-4">
                                        <li class="title">Kid's Collection</li>
                                        <li><a href="shop.html">Dresses</a></li>
                                        <li><a href="shop.html">Shirts</a></li>
                                        <li><a href="shop.html">T-shirts</a></li>
                                        <li><a href="shop.html">Jackets</a></li>
                                        <li><a href="shop.html">Trench</a></li>
                                    </ul>
                                    <div class="single-mega cn-col-4">
                                        <img src="img/bg-img/bg-6.jpg" alt="">
                                    </div>
                                </div>
 -->
                            </li>
                            <li><a href="#">درباره ما</a>
                               <!-- 
 <ul class="dropdown">
                                    <li><a href="index.html">Home</a></li>
                                    <li><a href="shop.html">Shop</a></li>
                                    <li><a href="single-product-details.html">Product Details</a></li>
                                    <li><a href="checkout.html">Checkout</a></li>
                                    <li><a href="blog.html">Blog</a></li>
                                    <li><a href="single-blog.html">Single Blog</a></li>
                                    <li><a href="regular-page.html">Regular Page</a></li>
                                    <li><a href="contact.html">Contact</a></li>
                                </ul>
 -->
                            </li>
                        </ul>
                    </div>
                    <!-- Nav End -->
                </div>
            </nav>

            <!-- Header Meta Data -->
            <div class="header-meta d-flex clearfix justify-content-end">
                <!-- Search Area -->
                <div class="search-area">
                    <form action="#" method="post">
                        <input type="search" name="search" id="headerSearch" placeholder="جست و جو">
                        <button type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
                    </form>
                </div>
                
                <!-- User Login Info -->
                <div class="user-login-info">
                    <a href="#"><img src="img/core-img/user.svg" alt=""></a>
                </div>
                
            </div>

        </div>
    </header>
    <!-- ##### Header Area End ##### -->


   
    <!-- ##### Breadcumb Area Start ##### -->
    <div class="breadcumb_area bg-img" style="background-image: url(img/bg-img/breadcumb.jpg);">
        <div class="container h-100">
            <div class="row h-100 align-items-center">
                <div class="col-12">
                    <div class="page-title text-center">
                        <h2>ثبت کالا</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ##### Breadcumb Area End ##### -->

    <!-- ##### Checkout Area Start ##### -->
    <div class="checkout_area section-padding-80" dir = "rtl">
        <div class="container">
            <div class="row">

                <div class="col-12 col-md-6" >
                    <div class="checkout_details_area mt-50 clearfix" dir = "rtl" >

                        <form action="#" method="post" >
                            <div class="row">
                                
                         
                                    <label for="country">دسته بندی ۱ <span>*</span></label>
                                    <select class="w-100" id="first">
                                        <option>املاک</option>
                                        <option>وسایل نقلیه</option>
                                        <option>لوازم الکترونیکی</option>
                                        <option>مربوط به خانه</option>
                                        <option>خدمات</option>
                                        <option>وسایل شخصی</option>
                                        <option>سرگرمی و فراغت</option>
                                        <option>اجتماعی</option>
                                    </select>
                               
                                
                            </div>
                        </form>
                        <br>
                        <form action="#" method="post">
                            <div class="row">
                                
                    
                                    <label for="country">دسته بندی ۲<span>*</span></label>
                                    <select class="w-100" id="second">
                                        <option>املاک</option>
                                        <option>وسایل نقلیه</option>
                                        <option>لوازم الکترونیکی</option>
                                        <option>مربوط به خانه</option>
                                        <option>خدمات</option>
                                        <option>وسایل شخصی</option>
                                        <option>سرگرمی و فراغت</option>
                                        <option>اجتماعی</option>
                                    </select>
                              
                                
                            </div>
                        </form>
                        <br>
                        <form action="#" method="post">
                            <div class="row">
                                
                                
                                    <label for="country">دسته بندی ۳<span>*</span></label>
                                    <select class="w-100" id="third">
                                        <option>املاک</option>
                                        <option>وسایل نقلیه</option>
                                        <option>لوازم الکترونیکی</option>
                                        <option>مربوط به خانه</option>
                                        <option>خدمات</option>
                                        <option>وسایل شخصی</option>
                                        <option>سرگرمی و فراغت</option>
                                        <option>اجتماعی</option>
                                    </select>
                                
                                
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ##### Checkout Area End ##### -->

    

    <!-- jQuery (Necessary for All JavaScript Plugins) -->
    <script src="js/jquery/jquery-2.2.4.min.js"></script>
    <!-- Popper js -->
    <script src="js/popper.min.js"></script>
    <!-- Bootstrap js -->
    <script src="js/bootstrap.min.js"></script>
    <!-- Plugins js -->
    <script src="js/plugins.js"></script>
    <!-- Classy Nav js -->
    <script src="js/classy-nav.min.js"></script>
    <!-- Active js -->
    <script src="js/active.js"></script>

</body>

</html>